.toolTip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #E5E4E4;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.toolTipText a{
 color: #E5E4E4 ;   
}
.toolTipText a:hover {
 color: red ;   
}
.toolTip:hover .toolTipText {
    visibility: visible;
}

